@font-face{
    font-family: 'PTSans';
    src: url("./PTSans Narrow/PTN57F-webfont.woff")
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color:#fff;
    font-family: 'PTSans';
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    
}

section{
    text-align: center;
}

h2{
    padding-left:50px;
    margin-bottom: -17px;
}

.logo1{
    width:40px;
}

.header{
    display:flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.servicesLogo{
    width:150px;
}

.container1{
    border: 1px solid #383838;
    height: 180px;
    background-image: url("./Images/light-ball.png");
    background-color: #383838;
    border-radius: 15px;
    padding: 75px 30px 240px 30px;
    margin: 30px 55px;
    background-position:left -17px bottom -40px;
    background-size: 300px;
    background-repeat: no-repeat;
}

.mobileEmpTxt{
    text-align: left;
    font-size: 16px;
    position: relative;
    bottom: 59px;
}

.mobileEmp{
    font-size: 40px;
    color:rgb(241, 182, 70);
    position: relative;
    bottom: 58px;
}

.rounded div{
    border: 1px solid #383838;
    background-color: #383838;
    border-radius: 15px;
    padding: 5px;
    margin: 30px 50px;
}

.servicesLogo{
    background-color: #111111;
    border:1px solid #383838;
    padding: 15px 30px;
    border-radius: 15px;
}

.me{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}



footer{
    text-align: center;
    background-color: #383838;
    border: 1px solid #383838;
    padding: 3px;
    border-radius: 15px 15px 0 0;
    margin: 0 50px;
    font-size: 13px;
    word-spacing: 1px;
}

.footer{
    padding: 10px;
}